#title{
    background-color: #ff4c68;
}
body{
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    /*font-family: 'Ubuntu', sans-serif;*/
}
h1{
    font-family: 'Montserrat-black', sans-serif;
    font-size: 5rem;
    line-height: 1.5;
}
h3{
    font-weight: bold;
    font-family: "Montserrat-bold";
}
p{
    color:#8f8f8f
}
.container-fluid{
    padding: 3% 15% 7%;
}
#t-h1{
    color: white;
    font-weight: 600;
}
.tsm-txt{
    font-family: 'Montserrat-bold', sans-serif;
    font-size: 3rem;
    line-height: 1.5;
}

#t-img{
    width: 60%;
    transform: rotate(20deg);
    position: absolute;
    right: 40%;
}
.navbar{
    padding:0 0 4.5rem;
}
.navbar-brand{
    font-family: "Ubuntu";
    font-size: 2.5rem;
    font-weight: bold;
}
.nav-item{
    padding: 0 18px;
}
.nav-link{
    font-size: 1.2rem;
}
.download-button{
    margin: 5% 3% 5% 0;
}

#features{
    padding: 7% 15%;
    background: white;
    position: relative;
}
#features i{
    font-size: 4rem;
    color:salmon;
    padding-bottom: 3%;
}
#features i:hover{
    color:#ff4c68;
}
.feature-card{
    text-align: center;
    padding:5%;
}

#testimonials{
    text-align: center;
    background: #ef8172;
    color:white;
}
.tsm-img{
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}
#press{
    background: #ef8172;
    text-align: center;
    padding-bottom: 3%;
}
.press-img{
    width: 12%;
    margin: 20px 20px 50px;
}
.carousel-item{
    padding: 7% 15%;
}

#pricing{
    padding: 80px;
    text-align: center;
}
.prc-title{
    font-size: 3.2rem;
}
.prc-column{
    padding: 3% 2%;
}
#cta{
    background-color: #ff4c68;
    padding: 1% 10%;
    text-align: center;
}
#cta-h3{
    font-weight: bold;
    font-family: "Montserrat";
    font-size: 3rem;
    line-height: 1.5;
    color:white;
    font-weight: 600;
}
#footer{
    background-color: white;
    text-align: center;
    padding: 1% 10%;
    color:black;
}
#footer i{
    margin: 1vh 1vh 2vh 1vh;
}
@media only screen and (max-width: 1200px) { 
    h1{
        font-family: 'Montserrat-black', sans-serif;
        font-size: 3rem;
        line-height: 1;
    }
    #t-img{
        margin: auto;
        transform: rotate(0deg);
        position: static;
    }
}